- content_for :title_header do
  %h1
    = link_to (Rails.env.test? ? person_inbox_path(@current_user) : person_inbox_url(@current_user, subdomain: 'www', locale: nil)) do
      = t("layouts.no_tribe.inbox")
    |
    = t("conversations.show.conversation_with", person: link_to_unless(other_party[:is_deleted], other_party[:display_name], other_party[:url])).html_safe
