%p
  华人集市是专门为华人社区打造的可以简单、快速、方便地和其他华人朋友买卖二手，找朋友，找工作，找生活服务，租房子等等的应用。

%h2
  信息发布规则：
%p
  %ul
    %li
      在发布信息，联系发布人和见面交易的时候尊重他人。
    %li
      请确保发布的信息真实，与他人城市地沟通和交易。
    %li
      在发布信息时，尽可能用图片，文字进行有趣详实的描述。
    %li
      请使用自己实拍的照片，而不是在网上下载的照片。
    %li
      请不要发布违反当地国家政策法规的信息，这样的信息会被删除。
    %li
      请不要发布重复的信息。
    %li
      请将信息发布到指定的分类，如果不知道如何分类可以向我们寻求帮助。

    如果你发布的信息违背以上规则，我们会直接删除你的信息。

%h2
  免责声明：
%p
  任何使用华人集市网的用户均应仔细阅读本声明，用户可选择不使用华人集市网，用户使用华人集市网的行为将被视为对本声明全部内容的认可。
  %ul
    %li
      除华人集市网注明之服务条款外，其他一切因使用华人集市网发布系统而引致之任何意外、疏忽、合约毁坏、诽谤、版权或知识产权侵犯及其所造成的损失（包括因下载而感染电脑病毒），华人集市网概不负责，亦不承担任何法律责任。
    %li
      任何透过华人集市网的网页链接得到之资讯、产品及服务均系用户自行发布，华人集市网对其真实性、准确性、合法性概不负责，亦不承担任何法律责任。
    %li
      华人集市网所有内容并不反映任何华人集市网之意见。
    %li
      任何单位或个人认为通过华人集市网的内容可能涉嫌侵犯其合法权益，应该及时向华人集市网书面反馈，并提供身份证明、权属证明及详细侵权情况证明，华人集市网在收到上述法律文件后，将会尽快移除被控侵权内容。

%h2
  删除用户：
%p
  华人集市网有权在没有任何具体的原因和不承担赔偿责任的情况下删除任何用户，终止用户使用网站服务。

%p
  %strong
    华人集市网需要大家一起来维护这个安全、可靠、有趣的社区，如果你发现有信息违反上述规则或者发现你不想看到的信息，希望你能通过举报的方式告诉我们，我们需要大家的帮助。
