@import "mixins/all";

.visible-large-mobile {
  display: none !important;

  @include media(large-mobile) {
    display: block !important;
  }
}

.hidden-large-mobile {
  @include media(large-mobile) {
    display: none !important;
  }
}

.visible-tablet {
  display: none !important;

  @include media(tablet) {
    display: block !important;
  }
}

.visible-tablet-inline {
  @extend .visible-tablet;
  @include media(tablet) {
    display: inline !important;
  }
}

.hidden-tablet {
  @include media(tablet) {
    display: none !important;
  }
}

.visible-desktop {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.visible-desktop-inline {
  @extend .visible-tablet;
  @include media(tablet) {
    display: inline;
  }
}

.hidden-desktop {
  @include media(desktop) {
    display: none !important;
  }
}
