@import "mixins/all";
@import "compass/layout/sticky-footer";

@include sticky-footer(90px, "#layout", "#layout_footer", "#footer");

#footer {
  background: #f5f5f5;
  border-top: solid 1px $link;
  padding: em(30) 0;

  .row {
    padding-left: em(10);
    padding-right: em(10);
    margin: 0 auto;
    max-width: 63em;
  }
}

.footer-nav {
  text-align: center;
  width: 100%;
  padding-left: 0;

  @include media(tablet) {
    text-align: initial;
    width: initial;
  }

  li {
    display: inline-block;
    padding:0 lines(0.5);
    margin-bottom: em(10);
  }
}
