.row
  .col-8
    %ul.footer-nav
      %li
        = link_to t("header.home"), root_path, :class => 'home-categories-link'
      %li
        = link_to t("header.about"), about_infos_path, :class => 'home-categories-link'
      %li
        = link_to t("header.contact_us"), new_user_feedback_path, :class => 'home-categories-link'
      %li
        = link_to t("header.invite"), new_invitation_path, :class => 'home-categories-link'
  .col-4
    %ul.copyright
      %li
        © 2015 HuaRenJS
