#header-menu-toggle-menu.toggle-menu.header-toggle-menu-menu.hidden

  = nav_v_link('www', t("menu.home"), 'home')

  = nav_v_link('auused', t("menu.used"), 'balloon')

  = nav_v_link('aurent', t("menu.rent"), 'housing')

  = nav_v_link('ausns', t("menu.social"), 'activities')

  -# = nav_v_link('aulife', t("menu.life"), 'delivery')

  -# = nav_v_link('aujob', t("menu.job"), 'job')
