.row.visible-tablet
  .col-12.menu-wraper
    #cssmenu
      %ul
        = render :partial => "layouts/nav_h_link", locals: { subdomain: 'www', link_text: t("menu.home") }

        = render :partial => "layouts/nav_h_link", locals: { subdomain: 'auused', link_text: t("menu.used") }

        = render :partial => "layouts/nav_h_link", locals: { subdomain: 'aurent', link_text: t("menu.rent") }

        = render :partial => "layouts/nav_h_link", locals: { subdomain: 'ausocial', link_text: t("menu.social") }

        -# = render :partial => "layouts/nav_h_link", locals: { subdomain: 'aulife', link_text: t("menu.life") }

        -# = render :partial => "layouts/nav_h_link", locals: { subdomain: 'aujob', link_text: t("menu.job") }
